<p class="text-center"><strong>INSTRUCTIONS FOR REGISTRATIONS OF FOREIGNERS</strong></p>
<p><strong>* Please read this carefully</strong></p>
<p>This type of registration is for all the non-Brazilians that do not have a CPF document (it is an ID document provided by the Brazilian Ministry of Finance).</p>
<p><strong>IMPORTANT</strong></p>
<p>In case you registered in the ”student” category, you must show, when you get to the event’s registration sector, the document to verify this status (enrollment receipt in an educational institution or a student’s ID with date), that will give  you the right to a 50% rebate. In case you are unable to prove your student’s condition, the registration will be made Individual, and the fee will be charged according to the current rate. If you paid in advance, the difference will be charged.
To register in the “convoy participant” category you must have been invited by a Convoy leader.</p>

<p class="text-center"><strong>INSTRUCCIONES PARA INSCRIPCIONES DE EXTRANJEROS</strong></p>
<p><strong>* Por favor, leé con atención los ítem de abajo</strong></p>
<p>En esta modalidad de inscripción, se deberán inscribir todos los extranjeros que no tengan CPF. En el caso que no cumplas con estas condiciones, deberás proceder a inscribirte en la modalidad individual/estudiante.</p>
<p><strong>IMPORTANTE</strong></p>
<p>En el caso de inscribirte en la categoría “estudiante”, tendrás que presentar, a la llegada para acreditarte al evento, documentación (comprobante/certificado de inscripción en institución de enseñanza y/o credencial de estudiante con fecha de vencimiento) que compruebe tu condición que te dará pleno derecho al descuento del 50%. En el caso que no puedas probar tu condición, la inscripción será transformada en individual al valor del día y si hiciste el pago en el período anterior te será cobrada la diferencia entre el valor que pagaste y el valor actual de inscripción.</p>
<p>Para inscribirte en la categoría “caravana” tendrás que haber sido invitado por un Líder de Caravana.</p>

<p>
<strong>FINANCIAL CONTACT / CONTACTO FINANCIERO:</strong><br>
Espaço de Projetos<br>
Telephone:  +55 51 3028-9398<br>
Cellphone: +55 51 9388-2236<br>
Schedule: from 14:00 to 17:00 (BRT)<br>
Email: financeiro@espacodeprojetos.com.br<br>
</p>


