<p class="text-center"><strong>REGRAS PARA INSCRIÇÕES CORPORATIVAS</strong></p>

<p>
Nesta modalidade de inscrição, deverão inscrever-se todas as organizações e empresas que efetuarão o pagamento de inscrições por boleto bancário (à vista) ou pelo PagSeguro (Cartão de crédito), nos valores e nas datas limites previstas pelo sistema.
</p>

<p>
    <strong>
        Caso você não se enquadre nessas condições, deverá proceder a inscrição na modalidade de governo/empenho.
    </strong>
</p>

<p>
Para efetuar uma inscrição corporativa, siga os seguintes passos:
    <ol>
        <li>Preencha os dados da Empresa;</li>
        <li>Selecione quantos códigos corporativos você quer adquirir</li>
        <li>Escolha sua forma de pagamento: Boleto bancário ou Pagseguro(Cartão de Crédito).</li>
    </ol>

</p>

<p>
Caso queira inserir novas pessoas após a emissão de um boleto ou pagamento via Pagseguro, deverá ser criada nova compra, utilizando a conta previamente cadastrada da empresa.
</p>

<p class="text-center"><strong>NOTAS FISCAIS</strong></p>
</p>
Para as inscrições corporativas, serão emitidas notas fiscais, exclusivamente para a empresa vinculada à conta.
As notas fiscais eletrônicas serão emitidas e enviadas via e-mail conforme cadastro, no prazo máximo de 7 dias úteis após o pagamento das inscrições.
</p>

  <p class="text-center">
    <strong>NÃO SERÃO FORNECIDAS NOTAS FISCAIS RETROATIVAS DURANTE O EVENTO.<br>
    NO VALOR DAS INSCRIÇÕES ESTÃO INCLUSOS 7,6% DE COFINS E 5% DE ISSQN.</strong>
  </p>

  <p class="text-center">
    <strong>
      CANCELAMENTO E REEMBOLSO DE INSCRIÇÕES FISL17
    </strong>
  </p>

  <p>
    Cancelamentos e pedidos de reembolso deverão ser solicitados para o e-mail
    financeiro@espacodeprojetos.com.br, contendo os dados da inscrição,
    cópia do comprovante de pagamento e dados bancários, respeitando o seguinte prazo de solicitação:
  </p>
  <p>
     &nbsp;&nbsp;- Até 7 dias do efetivo pagamento do boleto de inscrição: reembolso de 100% do valor pago (art. 49 do CDC);
  </p>
  <p>
  * O não comparecimento ao evento não será passível de devolução dos valores pagos.<br>
  * Eventuais Inscrições em duplicidade serão devolvidas seguindo-se o procedimento de cancelamento aqui estabelecido.<br>
  * A devolução dos valores pagos ocorrerá em até 15 (quinze) dias da data da solicitação do cancelamento e/ou reembolso.
  </p>

  <p>
    <strong>CONTATO FINANCEIRO:</strong><br>
    Espaço de Projetos<br>
    Telefone: (51) 3028.9398 / 3907.9398<br>
    Celular: (51) 9388-2236<br>
    Horário: 14:00 às 17:00<br>
    E-mail: financeiro@espacodeprojetos.com.br
  </p>
</div>