<div>
  <p>
    Nesta modalidade de inscrição, deverão inscrever-se todas <strong>PESSOAS FISICAS</strong>
    que efetuarão o pagamento de inscrições por boleto bancário ou Pagseguro
    (cartão de crédito), em seu nome, nos valores e nas datas limites previstas pelo sistema.
  </p>
  <p>
    Para obter os 50% de desconto, você deverá comprovar sua condição com comprovante/atestado
    de matrícula 2016/01 em instituição reconhecida pelo MEC e/ou carteira de estudante com data de validade).
  </p>

  <p>
    <strong>
      Tenha em mãos seu comprovante de matrícula 2016/01  ou sua carteira de Identificação Estudantil – DNE.
    </strong>
  </p>

  <p>
    Caso você não comprove sua condição, a inscrição será transformada em Individual pelo valor do dia,
    e se você fez pagamento em período anterior, será cobrada a diferença entre o valor pago
    e o valor atual da inscrição.
  </p>

  <p class="text-center">
    <strong>NOTAS FISCAIS</strong>
  </p>
  <p>
    Para as inscrições de Estudantes serão emitidas notas fiscais, exclusivamente, para o titular da inscrição e do boleto.
  </p>

  <p class="text-center">
    <strong>
      NÃO SERÃO EMITIDAS NOTAS FISCAIS DE INSCRIÇÕES DE ESTUDANTES PARA PESSOAS JURÍDICAS.
    </strong>
  </p>
  <p>
    Caso sua empresa necessite de nota fiscal referente ao valor pago pelas inscrições,
    peça ao responsável para fazer a inscrição na <strong>modalidade Corporativa</strong> ou reembolsar
    a nota fiscal emitida em seu nome.
  </p>

  <p class="text-center">
    <strong>NÃO SERÃO FORNECIDAS NOTAS FISCAIS RETROATIVAS DURANTE O EVENTO.<br>
    NO VALOR DAS INSCRIÇÕES ESTÃO INCLUSOS 7,6% DE COFINS E 5% DE ISSQN.</strong>
  </p>

  <p class="text-center">
    <strong>
      CANCELAMENTO E REEMBOLSO DE INSCRIÇÕES FISL17
    </strong>
  </p>

  <p>
    Cancelamentos e pedidos de reembolso deverão ser solicitados para o e-mail
    financeiro@espacodeprojetos.com.br, contendo os dados da inscrição,
    cópia do comprovante de pagamento e dados bancários, respeitando o seguinte prazo de solicitação:
  </p>
  <p>
     &nbsp;&nbsp;- Até 7 dias do efetivo pagamento do boleto de inscrição: reembolso de 100% do valor pago (art. 49 do CDC);
  </p>
  <p>
  * O não comparecimento ao evento não será passível de devolução dos valores pagos.<br>
  * Eventuais Inscrições em duplicidade serão devolvidas seguindo-se o procedimento de cancelamento aqui estabelecido.<br>
  * A devolução dos valores pagos ocorrerá em até 15 (quinze) dias da data da solicitação do cancelamento e/ou reembolso.
  </p>

  <p>
    <strong>CONTATO FINANCEIRO:</strong><br>
    Espaço de Projetos<br>
    Telefone: (51) 3028.9398 / 3907.9398<br>
    Celular: (51) 9388-2236<br>
    Horário: 14:00 às 17:00<br>
    E-mail: financeiro@espacodeprojetos.com.br
  </p>
</div>