<p class="text-center">
<strong>CONTRATO PARA CARAVANISTA</strong>
</p>

<p>
<strong>PARA INICIAR SEU PROCESSO DE INSCRIÇÃO É NECESSÁRIA A LEITURA E CONCORDÂNCIA DAS REGRAS A SEGUIR:</strong>
Nesta modalidade de inscrição, deverão inscrever-se todas as <strong>PESSOAS FÍSICAS</strong>, convidadas a participar de uma <strong>CARAVANA</strong>  que efetuarão o pagamento de inscrições por boleto bancário (à vista) ou pelo PagSeguro (Cartão de crédito), em seu nome, nos valores e nas datas limites previstas pelo sistema.
As inscrições são pessoais e intransferíveis. Caso não possa comparecer ao evento observe a regra de cancelamento e reembolso de inscrições abaixo.
</p>

<p class="text-center"><strong>NOTAS FISCAIS</strong></p>
<p>
Para as inscrições de Caravanistas serão emitidas notas fiscais, exclusivamente, para o titular da inscrição e do boleto.
</p>

<p class="text-center"><strong>NÃO SERÃO EMITIDAS NOTAS FISCAIS DE INSCRIÇÕES DE CARAVANAS  PARA PESSOAS JURÍDICAS. </strong></p>

<p>Caso sua empresa necessite de nota fiscal referente ao valor pago pelas inscrições, peça ao responsável para fazer a inscrição na <strong>modalidade Corporativa</strong> ou reembolsar a nota fiscal emitida em seu nome.</p>

<p class="text-center">
<strong>NÃO SERÃO FORNECIDAS NOTAS FISCAIS RETROATIVAS DURANTE O EVENTO.</strong></br>
<strong>NO VALOR DAS INSCRIÇÕES ESTÃO INCLUSOS 7,6% DE COFINS E 5% DE ISSQN</strong>
</p>


<p class="text-center"><strong>CANCELAMENTO E REEMBOLSO DE INSCRIÇÕES FISL17</strong></p>


<p>
Cancelamentos e pedidos de reembolso deverão ser solicitados para o e-mail financeiro@espacodeprojetos.com.br, contendo os dados da inscrição, cópia do comprovante de pagamento e dados bancários, respeitando o seguinte prazo de solicitação:
</p>

<p>
Até 7 dias do efetivo pagamento do boleto de inscrição: reembolso de 100% do valor pago (art. 49 do CDC);
</p>

<p>
* O não comparecimento ao evento não será passível de devolução dos valores pagos.
* Eventuais Inscrições em duplicidade serão devolvidas seguindo-se o procedimento de cancelamento aqui estabelecido.
* A devolução dos valores pagos ocorrerá em até 15 (quinze) dias da data da solicitação do cancelamento e/ou reembolso.
</p>
  <p>
    <strong>CONTATO FINANCEIRO:</strong><br>
    Espaço de Projetos<br>
    Telefone: (51) 3028.9398 / 3907.9398<br>
    Celular: (51) 9388-2236<br>
    Horário: 14:00 às 17:00<br>
    E-mail: financeiro@espacodeprojetos.com.br
  </p>
</div>