<p class="text-center"><strong>REGRAS PARA INSCRIÇÕES VIA EMPENHO</strong></p>

<p>
Nesta modalidade de inscrição, deverão inscrever-se as organizações públicas, onde o pagamento é feito após o evento, por meio de depósito bancário identificado, mediante apresentação da Nota Fiscal. O valor da inscrição é de R$ 450,00 por participante e última data para inscrição, já prorrogada, é 01/07/2016.
</p>

<p>
Caso você não se enquadre nessas condições, deverá proceder a inscrição na modalidade corporativa.
</p>

<p>
Para efetuar uma inscrição empenho, siga os seguintes passos:
    <ol>
    <li>Selecione a quantidade de inscrições que estão em sua nota de empenho;</li>
    <li>Clique no botão Comprar na aba Empenho;</li>
    <li>Preencha os dados da Empresa;</li>
   <li>Clique em Finalizar;</li>
    </ol>
</p>

<p>
Você receberá um e-mail <strong>reservando</strong> a quantidade de inscrições que você solicitou em nosso sistema.
</p>

<p>
****Para confirmação das mesmas, é necessário, dentro do sistema de inscrições, anexar a nota de empenho relacionada a este evento, no formato PDF (tamanho máximo 2MB);
</p>

<p>
O cadastro e submissão da nota de empenho serão analisados em até 05 dias úteis e, após aprovação, o e-mail cadastrado no sistema receberá a efetivação da(s) inscrição(ões).
</p>

<p><strong>DADOS DA ASL.ORG PARA NOTA DE EMPENHO</strong></p>

<p>
Razão Social: Associação Software Livre.org</br>
CNPJ: 05.971.682/0001-01</br>
Endereço: Rua dos Andradas, 1332 - conj 802, Centro</br>
Cidade: Porto Alegre / RS</br>
CEP: 90020-008</br>
Telefone: (51) 3028-9398 (Espaço de Projetos)</br>
Banco: Banco do Brasil (001)</br>
Agência: 1899-6 (UFRGS)</br>
C/C: 22.467-7</br>
Titular: Associação Software Livre.Org</br>
</p>

<p class="text-center"><strong>NOTAS FISCAIS</strong></p>
<p>As notas fiscais nessa modalidade são emitidas, exclusivamente após o evento, e conforme nota de empenho vinculada no momento de cadastro. Após emissão, as mesmas são enviadas via e-mail, juntamente com a Declaração de Isenção de Tributos da Associação Software Livre.Org.</p>

<p class="text-center"><strong>
        NÃO SERÃO FORNECIDAS NOTAS FISCAIS RETROATIVAS DURANTE O EVENTO.
</strong></p>
<p class="text-center"><strong>
    NO VALOR DAS INSCRIÇÕES ESTÃO INCLUSOS 7,6% DE COFINS E 5% DE ISSQN
</strong></p>



  <p>
    <strong>CONTATO FINANCEIRO:</strong><br>
    Espaço de Projetos<br>
    Telefone: (51) 3028.9398 / 3907.9398<br>
    Celular: (51) 9388-2236<br>
    Horário: 14:00 às 17:00<br>
    E-mail: financeiro@espacodeprojetos.com.br
  </p>
</div>