<p class="text-center"><strong>CONTRATO PARA LÍDER DA CARAVANA</strong></p>
<p class="text-center"><strong>PARA INICIAR SEU PROCESSO DE INSCRIÇÃO DE CARAVANAS É NECESSÁRIA A LEITURA E CONCORDÂNCIA DAS REGRAS A SEGUIR:</strong></p>

<p>
1) O Líder da Caravana deve abrir uma conta, inscrever-se e convidar pessoas para participar;<br>
2) O Líder será o responsável pelo convite, acompanhamento e animação da caravana;<br>
3) Somente serão aceitas inscrições de Caravanas com no mínimo 6 (seis) participantes: O líder mais 5 convidados;<br>
3.1) Caravanas da Região Metropolitana de Porto Alegre deverão ter no mínimo 11 integrantes: O líder e mais 10 convidados;<br>
4) O líder receberá isenção de 100% da inscrição caso a Caravana atinja, no mínimo, 5 convidados pagos;<br>
4.1) O líder de Caravana da Região Metropolitana de Porto Alegre receberá isenção de 100% da inscrição caso a Caravana atinja, no mínimo, 10 convidados pagos;<br>
5) Em hipótese alguma a liderança e/ou isenção poderá ser transferida a outro participante do Evento;<br>
6) Caso a Caravana não atinja 5 ou 10 participantes pagos(Caravanas da Região Metropolitana de Porto Alegre), o líder pagará sua inscrição ao preço do dia do cadastro da Caravana;<br>
</p>

<p class="text-center"><strong>NOTAS FISCAIS</strong></p>
<p>
Para as inscrições de Caravanistas serão emitidas notas fiscais, exclusivamente, para o titular da inscrição e do boleto.
</p>

<p class="text-center"><strong>NÃO SERÃO EMITIDAS NOTAS FISCAIS DE INSCRIÇÕES DE CARAVANAS  PARA PESSOAS JURÍDICAS. </strong></p>

<p>Caso sua empresa necessite de nota fiscal referente ao valor pago pelas inscrições, peça ao responsável para fazer a inscrição na <strong>modalidade Corporativa</strong> ou reembolsar a nota fiscal emitida em seu nome.</p>

<p class="text-center">
<strong>NÃO SERÃO FORNECIDAS NOTAS FISCAIS RETROATIVAS DURANTE O EVENTO.</strong></br>
<strong>NO VALOR DAS INSCRIÇÕES ESTÃO INCLUSOS 7,6% DE COFINS E 5% DE ISSQN</strong>
</p>


<p class="text-center"><strong>CANCELAMENTO E REEMBOLSO DE INSCRIÇÕES FISL17</strong></p>


<p>
Cancelamentos e pedidos de reembolso deverão ser solicitados para o e-mail financeiro@espacodeprojetos.com.br, contendo os dados da inscrição, cópia do comprovante de pagamento e dados bancários, respeitando o seguinte prazo de solicitação:
</p>

<p>
Até 7 dias do efetivo pagamento do boleto de inscrição: reembolso de 100% do valor pago (art. 49 do CDC);
</p>

<p>
* O não comparecimento ao evento não será passível de devolução dos valores pagos.
* Eventuais Inscrições em duplicidade serão devolvidas seguindo-se o procedimento de cancelamento aqui estabelecido.
* A devolução dos valores pagos ocorrerá em até 15 (quinze) dias da data da solicitação do cancelamento e/ou reembolso.
</p>
  <p>
    <strong>CONTATO FINANCEIRO:</strong><br>
    Espaço de Projetos<br>
    Telefone: (51) 3028.9398 / 3907.9398<br>
    Celular: (51) 9388-2236<br>
    Horário: 14:00 às 17:00<br>
    E-mail: financeiro@espacodeprojetos.com.br
  </p>
</div>