<load-credentials></load-credentials> <!--FIX HACK LOAD ACCOUNT INFO -->

<nav class="navbar navbar-default navbar-static-top inverted">

    <div class="container">

    <div class="navbar-header">
      <button type ="button"
              class="navbar-toggle"
              ng-init="menuCollapsed=true"
              ng-click="menuCollapsed=!menuCollapsed">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="splash">Segue</a>
    </div>



    <div class="navbar-collapse collapse" uib-collapse="menuCollapsed">

      <ul class="nav navbar-nav navbar-left" ng-show="credentials">
        <li  ng-class="{'active': state.name == 'home'}" >
          <a   ui-sref="home" translate> Home </a>
        </li>
        <li  ng-class="{'active': state.name == 'account.update'}">
          <a   ui-sref="account.update" translate> Meus dados </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown class="dropdown" ng-show="credentials">
          <a uib-dropdown-toggle role="button"  href="#">{{ credentials.email }}<span class="caret"></span></a>
          <ul uib-dropdown-menu class="dropdown-menu">
            <li>
              <a class="logout-text" href="" ng-click="logout()" translate>Sair</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
