<div class="container">

     <div class="row">
         <div class="container-fluid">
             <h1 class="text-primary text-center">SEGUE</h1>
             <p class="text-justify">O SEGUE - Sistema Extensível de Gerenciamento Unificado de Eventos é um projeto apoiado pela Associação Software Livre.Org, iniciado em 2015. Está disponibilizado no <a href="https://github.com/segue-org/segue" target="_blank">GitHub</a> para que a comunidade possa acompanhar e contribuir com seu desenvolvimento. O SEGUE é o principal sistema utilizado para realizar as inscrições e o temário do FISL e está a disposição para o apoio a qualquer evento de software livre no país e no mundo.</p>
         </div>
     </div>

    <hr>

    <div class="row">
      <div class="col-sm-6">
        <a ui-sref="donation.new" class="btn btn-block btn-primary">Fazer doação</a>
      </div>
      <div class="col-sm-6">
        <a  ui-sref="home" class="btn btn-block btn-default" translate>Certificados</a>
      </div>
    </div>

    <hr>

    <div class="row">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center text-primary"> Número de doações até o momento:
                       <span class="label label-success">{{ donationsCount }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>




</div>