<div class="container-fluid">
    <h2 class="text-center text-primary" translate>Bem-vindo!</h2>
    <p class="text-center" translate>Você está na área de relacionamento do SEGUE.</p>
    <p class="text-center" translate>Neste espaço você poderá participar das campanhas de doação da ASL.Org, inscrever-se em eventos, submeter palestras e emitir certificados.</p>
<hr>


<div class="row">
  <div class="col-sm-12">
    <a ui-sref="donation.new" class="btn btn-block btn-primary">Fazer doação</a>
  </div>
</div>

<hr>

</div>

<div ng-include="'modules/Home/donations.html'"></div>
<div ng-include="'modules/Home/purchases.html'"></div>
<div ng-include="'modules/Home/proposals.html'" ></div>
<div ng-include="'modules/Home/caravans.html'" ></div>
<div ng-include="'modules/Home/promocodes.html'"></div>
<div ng-include="'modules/Home/employees.html'"></div>

<div ng-include="'modules/Home/certificates.html'"></div>
