<div class="row">
  <div class="col-sm-offset-3 col-sm-6" >

    <div ng-show="nextState">
        <div class="alert alert-info">
          <div class="text-center" ng-switch on="nextState">
              <p ng-switch-when="caravaninvite.answer">
                  Antes de aceitar ou rejeitar um convite você precisa estar logado no sistema.
              </p>
              <p ng-switch-when="invite.answer">
                  Antes de aceitar ou rejeitar um convite você precisa estar logado no sistema.
              </p>
              <p ng-switch-default>
                  Você deve fazer o login antes de realizar uma operação no sistema.
              </p>
          </div>
        </div>
    </div>

    <form  name="login_form" grab-focus class="form">
      <legend class="text-primary">Entrar na minha conta</legend>

          <div class="form-group has-feedback">
            <label class="required"><span>E-mail:</span></label>
            <input  name="email"
                    type="text"
                    maxlength=40
                    ng-model="login.email"
                    class="form-control" />
          </div>

          <div class="form-group has-feedback">
            <label class="required"><span>Senha:</span></label>
            <input name="password"
                   type="password"
                   maxsize=20
                   ng-model="login.password"
                   class="form-control"/>
          </div>

          <div class="form-group">
              <p class="text-center">Se você participou do FISL16, basta se logar. Caso contrário, crie uma nova conta.</p>
          </div>

          <button class="btn btn-block btn-primary" ng-click="tryLogin()" translate>Entrar!</button>
          <button class="btn btn-block btn-default" ng-click="forgotPassword()" translate>Recuperar senha!</button>
          <button class="btn btn-block btn-md btn-info" ng-click="signup()" translate>Criar nova conta</button>

    </form>

  </div>
</div>
