<!doctype html>
<html ng-app="segue.submission">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Segue</title>
    <!-- inject:vendor:css -->
    <!-- endinject -->
    <!-- inject:custom:css -->
    <!-- endinject -->
    <!-- inject:vendor:js -->
    <!-- endinject -->
    <!-- inject:custom:js -->
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <script src='config.js'></script>
  </head>
  <body ng-controller="SubmissionController" class="{{ topState }}">

    <header class=" {{ topState }}" ui-view="header">
    </header>

    <toast></toast>

    <main>
      <div class="container">
          <div class="{{ topState }}" ui-view="main"></div>
      </div>
    </main>


    <footer>
      <div class="container-fluid footer">
        <div class="pull-left">
            <strong translate>Problemas?</strong>&nbsp;
              <a href="mailto:financeiro@espacodeprojetos.com.br?subject=[BUG] Notificação&body=Descreva seu problema:">
                financeiro@espacodeprojetos.com.br
              </a>
            </span>
        </div>
        <div class="pull-right">
          <span> {{ state.name }} </span>
        </div>
      </div>
    </footer>


  </body>
