<fieldset>
  <legend translate class="text-primary">Convite para co-autor</legend>

  <div class="intro" translate>
    Você está sendo convidado por <b>{{ invite.proposal.owner.name }}</b> para
    participar do <b>FISL 17</b> na condição de co-autor da proposta de palestra
    descrita abaixo:
  </div>

  <ul >
    <li><span translate>Título:</span> {{ invite.proposal.title }}</li>
    <li><span translate>Trilha:</span> {{ invite.proposal.track.name_pt }}</li>
    <li><span translate>Língua:</span> {{ invite.proposal.language }}</li>
  </ul>

  <div class="actions">
    <button class="btn btn-primary" ng-click="accept()"  translate>Aceito este convite</button>
    <button class="btn btn-default" ng-click="decline()" translate>Rejeito este convite</button>
  </div>
</fieldset>
