/*
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
*/

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
/* TODO: REPLACE ON ACCOUNT FORM*/
span.required {
    color: #ba1820;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  color: #FFFFFF;
  background-color: rgb(228, 98, 3);
  bottom: 0;
  width: 100%;
  height: 20px;
}

.footer a:link {
  color: #FFFFFF;
}

.splash-login .login {
    width: 80%;
}

/* FIX REMOVE */
.contract {

}

.contract_large {
  top:-9em !important;
  .ngdialog-content {
    width:80% !important;
  }
}

.contract_text {
  background-color:white;
  padding:15px;
  border:1px solid #ccc;
  overflow: auto;
  height:400px;
  margin-bottom: 10px;

  p {
    overflow-y: auto;
    font-size:small;
  }
}

/* Required Inputs */
.form-group label.required:before {
  content:"*";
  color:red;
}

.contract_large.ngdialog-content {
    width:75% !important;
}