<fieldset >
  <legend class="text-primary" translate>Dados de Acesso</legend>

  <div class="row">
    <div class="form-group has-feedback col-sm-6">
      <label class="required"> E-mail:</label>
      <input type="email"
             maxlength="60"
             ng-readonly="lockEmail"
             ng-model="signup.email"
             class="form-control" />
      <span field-error="email"></span>
    </div>

    <div class="form-group has-feedback col-sm-6" ng-hide="lockEmail">
      <label class="required">
        <span translate>Repetir e-mail:</span>
      </label>
      <input type="email"
             maxlength="60"
             ng-readonly="lockEmail"
             ng-model="signup.email_confirm"
             class="form-control"/>
      <span field-error="email_confirm"></span>
    </div>
  </div>

  <div class="row">
    <div class="form-group has-feedback col-sm-6">
      <label class="required">
        <span translate>Senha:</span>
        <small class="text-muted" translate>(mínimo 8 caracteres)</small>
      </label>
      <input type="password"
             maxlength="20"
             class="form-control"
             ng-model="signup.password"/>
      <span field-error="password"></span>
    </div>

    <div class="form-group has-feedback col-sm-6">
      <label class="required">
        <span translate>Repetir  senha:</span>
        <small class="text-muted" translate>(mínimo 8 caracteres)</small>
      </label>
      <input type="password" required
            maxlength="20"
            class="form-control"
            ng-model="signup.password_confirm"/>
      <span field-error="password_confirm"></span>
    </div>
  </div>

</fieldset>

<fieldset ng-disabled="lockType">
      <legend class="text-primary" translate>Tipo da conta </legend>

      <div class="row">
        <div class="form-group has-feedback col-sm-12">
          <label class="required">
            <span translate>Tipo da conta:</span>
          </label>
          <label class="radio-inline">
            <input type="radio"
                   value="person"
                   ng-model="$parent.type"><span translate>Pessoal</span>
          </label>
          <label class="radio-inline">
            <input type="radio"
                   value="corporate"
                   ng-model="$parent.type"><span translate>Empresarial</span>
          </label>
          <label class="radio-inline">
            <input type="radio"
                   value="foreign"
                   ng-model="$parent.type"><span translate>Estrangeiro</span>
          </label>
          <span field-error="type"></span>
        </div>
      </div>
    </fieldset>

<fieldset>
    <legend class="text-primary" translate>Dados pessoais</legend>

    <div class="row">
      <div class="form-group has-feedback col-sm-6" ng-show="type != 'corporate'">
        <label class="required">
          <span translate>Nome completo:</span>
        </label>
        <input type="text"
               maxlength="80"
              ng-model="signup.name"
              class="form-control"/>
        <span field-error="name"></span>
      </div>

      <div class="form-group has-feedback col-sm-6" ng-show="type == 'corporate'">
        <label class="required" translate>
          <span> Razão social: </span>
        </label>
        <input type="text"
               maxlength="80"
               ng-readonly="lockCorporateName"
               ng-model="signup.name"
               class="form-control"/>
        <span field-error="name"></span>
      </div>
    </div>

    <div class="row" ng-show="type == 'corporate'">
      <div class="form-group has-feedback col-sm-6" >
        <label class="required" translate>
          <span> Responsável:</span>
        </label>
        <input type="text"
               maxlength="80"
               ng-readonly="lockInCharge"
               ng-model="signup.incharge"
               class="form-control"/>
        <span field-error="incharge"></span>
      </div>

    </div>

    <div class="row" ng-show="type != 'corporate'">
      <div class="form-group has-feedback col-sm-6">
        <label><span translate>Nome para o crachá:</span></label>
        <input type="text"
               maxlength="20"
               ng-model="signup.badge_name"
               class="form-control"/>
      </div>
    </div>
    
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-6">
        <label><span translate>Nome da Empresa/Instituição:</span></label>
        <input type="text" maxlength="20"
                ng-model="signup.organization"
                class="form-control"/>
       </div>
    </div>

    <div class="row">
    <div class="form-group has-feedback col-sm-4" ng-show="type == 'person'">
      <label class="required">
        <span> CPF: </span>
        <small class="text-muted" translate>(Somente números)</small>
      </label>
      <input type="text"
             ng-model="signup.cpf"
             mask="999.999.999-99" clean="true"
             class="form-control"/>
      <span field-error="cpf"></span>
    </div>

    <div class="form-group has-feedback col-sm-4" ng-show="type == 'corporate'">
      <label class="required">
        <span> CNPJ: </span>
        <small class="text-muted" translate>(Somente números)</small>
      </label>
      <input type="text"
             ng-model="signup.cnpj"
             mask="99.999.999/9999-99" clean="true"
             class="form-control"/>
      <span field-error="cnpj"></span>
    </div>

    <div class="form-group has-feedback col-sm-4" ng-show="type == 'foreign'">
      <label class="required">
        <span translate>Passaporte:</span>
        <small class="text-muted" translate>(Somente letras e números)</small>
      </label>
      <input type="text"
             ng-model="signup.passport"
             maxlength="32"
             class="form-control"/>
      <span field-error="passport"></span>
    </div>

    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-4" ng-show="type != 'foreign'">
        <label class="required">
          <span translate> Telefone: </span>
          <small class="text-muted" translate>(inclua o código de área)</small>
        </label>
        <input type="phone"
               ng-model="signup.phone"
               mask="(99) 9?9?999-9999" clean="true"
               class="form-control" />
        <span field-error="phone"></span>
      </div>

      <div class="form-group has-feedback col-sm-6" ng-show="type == 'foreign'">
        <label class="required">
          <span translate>Telefone:</span>
          <small class="text-muted" translate>Inclua o código do país e o código de área</small>
        </label>
        <input type="phone"
               class="form-control"
               ng-model="signup.phone"
               mask="+99 99 9?9999-9999" clean="true" />
        <span field-error="phone"></span>
      </div>

    </div>

    <div ng-show="type != 'corporate'">

    <div class="row">
      <div class="form-group has-feedback col-sm-4">
        <label class="required">
          <span>Data de nascimento:</span>
        </label>
        <input type="text"
               mask="39/19/9999"
               placeholder="dd/mm/yyyy"
               model-view-value="true"
               ng-model="signup.born_date"
               class="form-control"/>
        <span field-error="born_date"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label class="required">
          <span translate> Gênero: </span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="M" name="sex" ng-model="signup.sex" translate>Masculino
        </label>
        <label class="radio-inline">
          <input type="radio" value="F" name="sex" ng-model="signup.sex" translate>Feminino
        </label>
        <label class="radio-inline">
          <input type="radio" value="N" name="sex" ng-model="signup.sex" translate>Não quero informar
        </label>
        <span field-error="sex"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-6">
        <label class="required">
          <span translate>Formação:</span>
        </label>
        <select name="education"
                ng-model="signup.education"
                class="form-control"
                ng-options="education as education | humanize for education in educationTypes">
                <option value="" translate>Selecione uma opção</option>
        </select>
        <span field-error="education"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-6">
        <label class="required">
          <span translate>Ocupação:</span>
        </label>
        <select name="occupation"
                ng-model="signup.occupation"
                class="form-control"
                ng-options="occupation as occupation | humanize for occupation in occupationTypes">
          <option value="" translate>Selecione uma opção</option>
        </select>
        <span field-error="occupation"></span>
      </div>

      <div class="form-group has-feedback col-sm-6">
        <label>
          <span translate>Cargo na Organização:</span>
        </label>
        <select name="occupation_position"
              ng-model="signup.occupation_position"
              class="form-control">
              <option value="" >Selecione uma opção</option>
              <option value="tecnico">Técnico</option>
              <option value="analista_de_qualidade">Analista de qualidade</option>
              <option value="desenvolvedor">Desenvolvedor</option>
              <option value="engenheiro">Engenheiro</option>
              <option value="administrador_de_sistemas">Administrador de sistemas</option>
              <option value="marketing_vendas">Marketing/Vendas</option>
              <option value="gerente_coordenador">Gerente/Coordenador</option>
              <option value="diretor_executivo">Diretor/Executivo</option>
              <option value="professor_pesquisador">Professor/Pesquisador</option>
              <option value="jornalista_publicitario_designer_relacoes_publicas">Jornalista/Publicitário/Designer/Relações públicas</option>
              <option value="outros">Outros</option>
        </select>
        <span field-error="occupation_position"></span>
      </div>

    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-6">
        <label>
          <span translate>Poder de decisão na Organização:</span>
        </label>
        <select name="occupation_decision_power"
                ng-model="signup.occupation_decision_power"
                class="form-control">
                <option value="" >Selecione uma opção</option>
                <option value="nenhum">Nenhum poder de decisão</option>
                <option value="pouco">Pouco poder de decisão</option>
                <option value="muito">Muito poder de decisão</option>
                <option value="total">Total poder de decisão</option>
        </select>
        <span field-error="occupation_decision_power"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-6">
        <label>
          <span translate>Área de atuação da Organização em que trabalha:</span>
        </label>
      <select name="employer_activity"
              ng-model="signup.employer_activity"
              class="form-control">
              <option value="" >Selecione uma opção</option>
              <option value="forncedor_tic">Fornecedor soluções em TIC</option>
              <option value="consultoria_tic">Consultoria TIC</option>
              <option value="associacoes_fundacoes_sindicatos">Associações/Fundações/Sindicatos</option>
              <option value="educacao_pesquisa">Educação/Pesquisa</option>
              <option value="software_internet">Software/Internet</option>
              <option value="hardware">Hardware</option>
              <option value="eletrica_eletronica">Elétrica/Eletrônica</option>
              <option value="outros">Outros</option>
      </select>
      <span field-error="employer_activity"></span>
      </div>

    <div class="form-group has-feedback col-sm-6">
        <label>
          <span translate>Porte da Organização:</span>
        </label>
        <select name="employer_size"
              ng-model="signup.employer_size"
              class="form-control">
              <option value="" >Selecione uma opção</option>
              <option value="_10">Até 10 funcionários</option>
              <option value="10_50">De 10 a 50 funcionários</option>
              <option value="50_100">De 50 a 100 funcionários</option>
              <option value="100_">Acima de 100 funcionários</option>
        </select>
        <span field-error="employer_size"></span>
      </div>
    </div>


    <div class="row">
      <div class="form-group has-feedback col-sm-4">
        <label class="required">
          <span translate>Você é portador de alguma deficiência:</span>
        </label>
        <select
              name="disability"
              class="form-control"
              ng-model="signup.disability"
              ng-init="signup.disability = signup.disability || 'none'"
              ng-options="disability as disability | humanize for disability in disabilityTypes">
        </select>
        <span field-error="disability"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-12" ng-show="signup.disability != 'none'">
        <label>
          <span translate>Detalhes</span>
          <small class="text-muted" translate>(até 400 caracteres)</small>
        </label>
        <textarea maxlength="400"
                  class="form-control"
                  ng-model="signup.disability_info"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-4">
        <label class="required" translate>
          <span> É sócio da ASL:</span>
        </label>
        <select name="membership"
                class="form-control"
                ng-model="signup.membership">
            <option value="false" ng-checked="!signup.membership" translate>Não</option>
            <option value="true" ng-checked="signup.membership" translate>Sim</option>
        </select>
        <span field-error="membership"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-12">
        <label class="required">
          <span translate>Minicurrículo:</span>
          <small class="text-muted" translate>(O preenchimento deste campo é obrigatório apenas se você for participar da submissão de palestras, máximo 400 caracteres)</small>
        </label>
        <textarea rows="4"
                  maxlength="400"
                  ng-model="signup.resume"
                  class="form-control"></textarea>
        <span field-error="resume"></span>
      </div>
    </div>

    <div class="row">
    <div class="form-group has-feedback col-sm-6">
        <label class="required">
          <span translate>Você aceita que seus dados sejam divulgados?</span>
        </label>
        <select name="inform"
              ng-model="signup.inform"
              class="form-control">
              <option value="true" >Sim</option>
              <option value="false">Não</option>
        </select>
        <span field-error="inform"></span>
      </div>
    </div>



    </fieldset>

<fieldset>
  <legend translate class="text-primary">Dados do endereço</legend>

    <div class="row">
      <div class="form-group col-sm-8">
        <label>
          <span translate>Buscar por endereço:</span>
        </label>
        <input id="address"
               type="text"
               class="form-control"
               placeholder="{{'Rua Getulio Vargas Porto Alegre'}}"
               ng-model="selectedAddress"
               ng-model-options="{ debounce: { 'default': 400 } }"
               uib-typeahead="address as address.formatted_address for address in getLocation($viewValue)"
               typeahead-on-select="onSelectLocation($item)"
               typeahead-min-length="3"
               typeahead-loading="searchLoading"
               typeahead-no-results="searchEmpty" >
        <div ng-show="searchEmpty" class="help-block has-error has-feedback" translate>
            Nenhum resultado encontrado
        </div>
        <div ng-show="searchLoading"  class="help-block" translate>
            Carregando ...
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-4">
        <label class="required">
          <span translate> Código Postal: </span>
          <small class="text-muted">(Somente números)</small>
        </label>
        <input type="text"
               ng-model="signup.address_zipcode"
               ng-show="type != 'foreign'"
               mask="9" repeat="8" restrict="reject" validate="false"
               class="form-control"/>
        <input type="text"
               ng-model="signup.address_zipcode"
               ng-show="type == 'foreign'"
               class="form-control"/>
        <span field-error="address_zipcode"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-4">
        <label class="required">
          <span translate>País:</span>
        </label>
        <input type="text"
               name="country"
               placeholder="Brasil"
               ng-model="signup.country"
               class="form-control text-capitalize" />
        <span field-error="country"></span>
      </div>

      <div class="form-group has-feedback col-sm-3">
        <label class="required">
          <span translate>Estado:</span>
          <small class="text-muted" translate>(Sigla)</small>
        </label>
        <input type="text"
               maxlength="2"
               placeholder="RS"
               ng-model="signup.address_state"
               class="form-control text-uppercase"/>
        <span field-error="address_state"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-6">
        <label class="required" >
          <span>Cidade:</span>
        </label>
          <input type="text"
                 maxlength="30"
                 ng-model="signup.city"
                 class="form-control text-capitalize"/>
        <span field-error="city"></span>
      </div>

      <div class="form-group has-feedback col-sm-6">
        <label class="required">
          <span translate>Bairro:</span>
        </label>
        <input type="text"
               maxlength="80"
               ng-model="signup.address_neighborhood"
                class="form-control text-capitalize" />
        <span field-error="address_neighborhood"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-8">
        <label class="required">
          <span translate> Endereço:</span>
        </label>
        <input type="text"
               maxlength="80"
               ng-model="signup.address_street"
               class="form-control" />
        <span field-error="address_street"></span>
      </div>

      <div class="form-group has-feedback col-sm-4">
        <label class="required">
          <span translate> Número:</span>
        </label>
        <input type="text"
               maxlength="20"
              ng-model="signup.address_number"
              class="form-control" />
        <span field-error="address_number"></span>
      </div>
    </div>

    <div class="row">
      <div class="form-group has-feedback col-sm-6">
        <label>
          <span translate>Complemento:</span>
        </label>
             <input type="text"
              maxlength="40"
              ng-model="signup.address_extra"
              class="form-control" />
        <span field-error="address_extra"></span>
      </div>
   </div>

</fieldset>

