<fieldset>
  <legend translate class="text-primary">Convite para caravana</legend>

  <div class="row">
    <div class="col-sm-12">
      <div translate>
        Você está sendo convidado por <b>{{ invite.caravan.owner.name }}</b> para
        participar de uma caravana para o <b>FISL 17</b>:
      </div>

      <ul>
        <li><span translate>nome:</span> {{ invite.caravan.name }}</li>
        <li><span translate>cidade:</span> {{ invite.caravan.city }}</li>
        <li><span translate>descrição:</span> {{ invite.caravan.description }}</li>
        <li><span translate>chefe da caravana:</span> {{ invite.caravan.owner.name }}</li>
      </ul>

      <div>
        <button class="btn btn-primary" ng-click="accept()"  translate>Aceito este convite</button>
        <button class="btn btn-default" ng-click="decline()" translate>Rejeito este convite</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <br/>
      <div class="alert alert-info" translate>
        Você será redirecionado para a área de compra de ingressos, caso aceite este convite.
      </div>
      <div class="alert alert-danger" ng-show="showError">
          <span translate>Houve um erro ao processar o convite</span>
      </div>
    </div>
  </div>



</fieldset>
