<h2 class="page-header" translate>Ingressos</h2>
<p class>
    Nenhum ingresso está disponível para venda. 
    Mas você ainda pode utilizar seu código promocional, se o mesmo for de 100% de desconto.
</p>