<fieldset>

<div class="container-fluid">


  <h3 class="page-header text-primary" translate>Ingressos</h3>

  <div class="purchaseMode == 'reservation'">
    <p>
      A partir de 09/07, a compra de ingressos estará disponível para aquisição apenas no local do evento - Centro de Eventos da PUCRS - Prédio 40.</br>
    </p>
  </div>

  <table class="table table-striped table-responsive" ng-show="products.length > 0" >
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>
          {{product.description}}
        </td>
        <td>
          <span ng-show="buyer.kind != 'company'">1</span>
          <span ng-show="buyer.kind == 'company'">
            <input id="qty" type="text"
                 name="qty"
                 class="form-control"
                 ng-readonly="!(selectedProduct.id == product.id)"
                 ng-init="purchase_qty[product.id] = 1"
                 ng-model="purchase_qty[product.id]"
                 ng-change="updatePurchaseTotal()">
          </span>
        </td>
        <td ng-if="product.price">
            {{ product.price | realbrasileiro }}
        </td>
        <td>
          <input id="product_{{product.id}}" type="radio"
                 ng-value="product.id"
                 name="productId"
                 ng-model="productId"
                 ng-click="updateSelectedProduct(product.id)">
        </td>
      </tr>
      <tr ng-show="buyer.kind == 'company' && selectedProduct.id" >
        <td colspan="5" align="right" >
          <strong>Total:</strong>
          <span ng-bind="total_amount | realbrasileiro"></span>
        </td>
      </tr>
      <tr ng-show="discountValue">
        <td colspan="5" align="right">
            Desconto: <span ng-bind="discountValue"></span>%
        </td>
      </tr>
      <tr ng-show="discountValue && selectedProduct.id" >
        <td colspan="5" align="right">
            Valor total:
          <span ng-show="discountValue == 100">
            {{ '0' | realbrasileiro}}
          </span>
           <span ng-show="discountValue != 100">
            {{(selectedProduct.price * purchase_qty[selectedProduct.id] - selectedProduct.price * purchase_qty[selectedProduct.id] * (discountValue/100)) | realbrasileiro}}
          </span>
          </td>
      </tr>

    </tbody>
  </table>

<!--
  <div ng-hide="selectedProduct.id">
    <strong>Insira aqui o seu código promocional:</strong>
    <div class="row">
      <div class="form-group col-sm-4">
        <input type="text" class="form-control" ng-model="promocode.hash"/>
      </div>
      <div class="form-group col-sm-8">
        <button class="btn btn-primary" ng-click="verifyPromoCode()">Usar</button>
      </div>
    </div>
  </div>
-->
  <div ng-show="selectedProduct.information">
    <h4 class="text-primary" translate>Informações adicionais</h4>
     <div class="alert alert-info" role="alert">
      {{ selectedProduct.information}}
    </div>
  </div>

  </div>

</fieldset>


<fieldset ng-hide="selectedProduct.id || buyer.kind =='company' || purchaseMode == 'reservation'">
  <div class="container-fluid">
    <h3 class="page-header" translate>Caravanas</h3>
    <p>Para criar uma caravana você deve aceitar os termos e condições</p>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="createCaravan()">Termos e condições</button>
    </div>
  </div>
</fieldset>

